@media screen and (max-width: 576px) {
  header {
    margin: 0;
  }
  nav {
    width: 300px;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: 15px;
  }

  ul a {
    display: none;
  }
  .banner {
    flex-direction: column;
    flex-direction: column-reverse;
    gap: 10px;
  }
  .banner-image img {
    width: 370px;
    margin-right: 120px;
  }
  .banner-content h1 {
    font-size: 24px;
    text-align: center;
    margin-right: 125px;
  }
  .banner-content p {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-right: 135px;
  }
  .btn {
    margin-left: 130px;
  }
}
