@media screen and (max-width: 576px) {
  header {
    width: 80%;
    margin: 0 auto;
    padding-top: 5px;
  }
  nav {
    width: 95%;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: 15px;
  }

  ul a {
    display: none;
  }
  .banner {
    flex-direction: column;
    flex-direction: column-reverse;
    gap: 10px;
  }
  .banner-image img {
    width: 300px;
  }
  .banner-content h1 {
    font-size: 24px;
    text-align: center;
  }
  .banner-content p {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
  }
  .btn {
    margin-left: 130px;
  }
  .sponsors {
    display: grid;
    align-items: center;
    justify-content: space-between;
    row-gap: 20px;
    grid-template-columns: repeat(4, 100px);
  }

  .sponsors img {
    width: 50px;
  }
  .popular-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .popular {
    width: 50%;
  }
  .featured {
    flex-direction: column-reverse;
    max-width: 100%;
    text-align: center;
  }
  .featured-content .btn {
    margin-left: auto;
  }
  footer {
    width: 100%;
  }
}
