header {
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 87px;
}
nav {
  justify-content: space-between;
  margin-bottom: 80px;
}
.menus {
  justify-content: space-around;
  width: 35%;
  gap: 34px;
  align-items: center;
}
ul {
  gap: 34px;
}
nav h3 {
  font-size: 24px;
  font-weight: bold;
}
nav {
  font-size: 16px;
  font-weight: 600;
}
/* navbar end */
.banner {
  gap: 133px;
  align-items: center;
}
.banner-content h1 {
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 16px;
}
.banner-content p {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}
.btn {
  background-color: #e02c6d;
  padding: 10px 24px;
  border: none;
  border-radius: 40px;
}
.btn a {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
/* banner end */
.sponsors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
}
/* header end */
/* popular collection */
.popular {
  max-width: 1060px;
  width: 73%;
  margin: 0 auto;
}
.popular h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 600;
}
.popular-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 30px;
}

.hide {
  display: none !important;
}
